cobochat/__pycache__/*
__pycache__/*
instance/*
.venv/
.idea
cobochat/static/post_pictures/*
cobochat/static/profile_pics/*
!cobochat/static/post_pictures/default.png
!cobochat/static/profile_pics/default.jpg
