{% extends "layout.html" %}
{% block content %}

    {% for user in users %}
        <article class="media content-section loginContainer">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
        <div class="media-body ml-4">
            <div class="article-metadata">
            <small class="text-muted">{{ user.full_name }} - {{ user.account_type }}</small>
            </div>
            <h2><a class="mr-2" href="{{ url_for('user_posts', username=user.username) }}">{{ user.username }}</a></h2>
            {% if user.bio == None %}
              <p></p>
            {% else %}
              <p class="article-content normalFont">{{ user.bio }}</p>
            {% endif %}

            {% if current_user.account_type == 'Owner' or current_user.account_type == 'Administrator' %}
              <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            {% endif %}
        </div>
        </article>
    {% endfor %}
    <div class="paginationContainer">
        {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
              {% if users.page == page_num %}
                <a class="btn btn-info mb-4 ml-2" href="{{ url_for('display_users', page=page_num) }}">{{ page_num }}</a>
              {% else %}
                <a class="btn btn-outline-info mb-4 ml-2" href="{{ url_for('display_users', page=page_num) }}">{{ page_num }}</a>
              {% endif %}
            {% else %}
              ...
            {% endif %}
        {% endfor %}
      </div>
{% endblock content %}